@use 'variables';

.articleSection {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;

    .media {
        object-fit: contain;
        width: 100%;
    }

    &.LTR {
        flex-direction: row;
    }

    &.RTL {
        flex-direction: row-reverse;
    }

    &.equalWidth {
        & > * {
            flex: 1 1 0;
        }

        & > .media {
            width: 100%;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

section.centred {
    text-align: center;
}

article {
    padding: variables.$articleMargin;

    & > section {
        margin-top: variables.$articleMargin;
    }
}

.ctaButton {
    @include variables.dropShadowSmall;
    @include variables.subheadingFont;

    border-radius: variables.$borderRadius;
    border: 3px solid variables.$themeBlack;
    background-color: variables.$themeRed;
    
    padding: 16px 25px;
    cursor: pointer;
    color: variables.$primary;
    white-space: nowrap;

    margin: variables.$standardGap 0;
    display: inline-block;

    * {
        margin-right: 8px;
    }
}

@media screen and (max-width: 1000px) {
    .articleSection {
        align-items: center;

        &.LTR, &.RTL {
            flex-direction: column;
        }
    }
}