.articleSection {
    display: flex;
    justify-content: space-between;

    &.LTR {
        flex-direction: row;
    }

    &.RTL {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 800px) {
    .articleSection {
        &.LTR, &.RTL {
            flex-direction: column;
        }
    }
}