@use 'variables';

$bottomRowHeight: 54px;

.footer {
    position: relative;
    border-top: 1px solid variables.$secondary;
}

.footerContent {
    padding: 0 var(--articleMargin);
    
    hr {
        background-color: variables.$themeBlack;
        height: 2px;
        border: 0;
        z-index: -99;
    }
}

.footerLinks {
    display: flex;
    justify-content: start;
    gap: 10%;
    padding: 32px 0;
}

.footerColumn > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 16px;

        a > * {
            width: 16px;
            margin-right: 8px;
        }
    }
}

.footerBottom {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $bottomRowHeight;

    & > * {
        flex: 1;
    }

    & > *:first-child {
        text-align: left;
    }
    & > *:last-child {
        text-align: right;
    }
}

.privacyPolicy {
    color: variables.$primary;
    text-decoration: underline;
}

.footerBg {
    $clipWidth: 75%;
    $clipDeviation: 2%;

    position: absolute;
    width: 100%;
    height: 100%;


    background: #ff5e63;
    clip-path: polygon(calc($clipWidth + $clipDeviation) 0, calc($clipWidth - $clipDeviation) 100%, 100% 100%, 100% 0%);

    .eyes {
        position: absolute;
        bottom: 50%;
        right: calc(100% - $clipWidth - $clipDeviation - 195px);
    }
}

.bgContent {
    position: relative;
    height: 100%;

    .footerBottom {
        position: absolute;
        padding: 0 var(--articleMargin);
        width: 100%;
        bottom: 0;
    }

    hr {
        position: absolute;
        width: 100%;
        bottom: $bottomRowHeight;
        right: var(--articleMargin);
        background-color: variables.$primary;
        height: 2px;
        border: 0;
        z-index: 9;
    }
}

@media screen and (max-width: 800px) {
    .footerLinks,
    .footerBottom {
        flex-direction: column;
    }

    .footerContent > hr {
        background-color: variables.$primary;
        height: 2px;
        border: 0;
    }

    .footerBottom {
        height: inherit;
        align-items: start;
        padding-bottom: var(--articleMargin);

        & > * {
            text-align: left;
            display: inline-block;
            color: variables.$primary;

            a {
                color: variables.$primary;
            }
        }
    }

    .footerBg {
        $bgHeight: 63%;

        z-index: -9;

        & > * {
            display: none;
        }
        & {
            clip-path: polygon(
                0 #{$bgHeight}, 
                100% #{$bgHeight}, 
                100% 100%, 
                0 100%);
        }
        
    }
}