@use 'variables';

$hamburgerThreshold: 800px;

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$primary;
    width: 100%;
    height: variables.$headerHeight;
    padding-left: var(--articleMargin);
}

.hamburger {
    $hamburgerSize: 32px;

    position: relative;
    overflow: hidden;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: $hamburgerSize;
    height: $hamburgerSize;
    padding: 0;
    
    lottie-player {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 120px;
        height: 120px;
        transform: translate(-50%, -50%);
    }
}

.hamburgerMenu {
    position: absolute;
    z-index: 99;
    background-color: variables.$primary;
    top: -100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    gap: variables.$standardGap;
    padding: variables.$standardGap var(--articleMargin);
    transition: top 0.5s ease;
    z-index: -1;
    border-bottom: 1px solid variables.$secondary;

    .btn {
        color: variables.$themeBlack;

        & > * {
            width: 16px;
            margin-right: 8px;
        }
    }

    &.active {
        display: flex;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 16px;

    img {
        height: 30px;
    }
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navItems {
    display: flex;
    gap: 20px;
}

.ctaButtons {
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    gap: variables.$standardGap;
    background-color: variables.$themeBlue;
    height: variables.$headerHeight;
    padding: 0 var(--articleMargin);
}

.btn {
    cursor: pointer;
    color: variables.$primary;

    * {
        margin-right: 4px;
    }
}

.btn.store {
    background: variables.$themeRed;
    color: variables.$primary;
    border: none;
    border-radius: 6px;
    padding: 4px 24px;
}


#cart {
    position: relative;
    text-decoration: none;
    transform: translateY(6px);

    i, svg {
        color: variables.$primary;
    }

    p {
        color: variables.$primary;
        font-size: 10px;
        text-align: center;
        line-height: 20px;
        margin: 0;
        padding: 0 5px;
    }

    div {
        position: absolute;
        background-color: variables.$themeRed;
        min-width: 20px;
        height: 20px;
        border-radius: 10px;
        right: -10px;
        top: -8px;
        margin: 0;
    }
}

@media (max-width: $hamburgerThreshold) {
    .header {
        .hamburger {
            display: block;
        }

        .navItems {
            display: none;
        }

        .ctaButtons > a {
            display: none;
        }

        #cart {
            display: block;
        }
    }

    .btn.store {
        padding: 8px;
        text-align: center;
    }
}

@media (min-width: $hamburgerThreshold) {
    .hamburgerMenu.active {
        display: none;
    }
}