@use '@root/variables';

.input-label {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: variables.$themeBlack;
    display: block;
    text-align: left;
    margin-bottom: 2.5px;
}

.text-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 16px;
    border: 1.4px solid variables.$themeBlue;
    width: 100%;
    height: fit-content;
    align-self: left;
    align-items: left;
    align-content: left;
    display: flex;
    min-height: 40px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}