@use 'variables';

$modalOpacity: 0.5;

.modal::backdrop {
    background-color: rgba(0,0,0,$modalOpacity)
}
.modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-title {
    margin-top: 0;
}
.modal-title > svg{
    margin-top: 0;
    height: 2em;
}