@use '@root/variables';
@use './lineClip.scss';

$heroTextWidth: max(350px, 35%); 

$borderLineWidth: 10px;


$heroImageWidth: calc(100% - $heroTextWidth);
$overlap: 10vw;
$borderColour: #26363b;
$heroContainerHeight: 320px;

@mixin hero-image-title($direction) {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: variables.$dropShadow;

    @include lineClip.slantedLine($overlap, $borderColour, $borderLineWidth, $heroTextWidth, $direction);
}

.hero-image-title {
    @include hero-image-title(left);
}

.hero-image-title-alt {
    @include hero-image-title(right);
}

.hero-image {
    object-fit: cover;
}

.hero-title-container {
    padding-left: variables.$articleMargin;
    padding-bottom: variables.$standardGap;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 8px;

    & > * {
        margin: 0;
    }
}