@use 'variables';
$toolbarBorderRadius: 0.5em;
$toolbarBorderColor: variables.$primary;
$toolbarBorderStroke: 3px;
$toolbarWidth: 130px;

.toolbar[open] {
    z-index: 4;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 5px 20px 5px 5px;
    align-items: flex-start;
    justify-content: space-between;
    left: -30px;
    top: 15px;
    border-radius: $toolbarBorderRadius;
    margin: 0;
    width: $toolbarWidth;
}
.toolbar > .card-button > svg {
    margin-right: 5px;
}
.toolbar > .button:hover{
    cursor: pointer;
}