@use '@root/variables';

.hero {
    width: 100vw;
    position: relative;
    margin-bottom: calc(variables.$articleMargin * 2);

    & > img {
        width: 100%;
        height: 50vh;
        min-height: 250px;
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: -9;
        object-position: right center;
    }

    .content {
        display: flex;
        align-items: end;

        .title {
            @include variables.dropShadowLarge;
            $falseOffset: 12px; // Counters gap in drop shadow by extending bounds to left.

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: calc(variables.$articleMargin * 2);

            min-width: 500px;
            margin-top: 20vh;
            background-color: variables.$themeGreen;
            border-radius: 0 variables.$borderRadius variables.$borderRadius 0;
            padding: variables.$articleMargin;
            margin-left: calc(-1 * $falseOffset);
            padding-left: calc(variables.$articleMargin + $falseOffset);
            padding-bottom: calc(variables.$articleMargin * 2);

            .images {
                display: flex;
                justify-content: space-between;
                align-items: end;

                .bowtie {
                    margin-bottom: variables.$articleMargin;
                    width: 30%;
                }
                
                .eyes {
                    width: 50%;
                }
            }
        }

        .description {
            margin: 0 variables.$articleMargin;
            text-align: center;
        }
    }
}

.fullWidthImg {
    .media {
        width: 100%;
    }

    .articleSection {
        margin: variables.$articleMargin 0;

        .description {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    
        & > * {
            flex: 1;
        }
    }
}

.storyHeadline {
    padding: variables.$standardGap;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .hero > .content {
        flex-direction: column;
        align-items: start;

        // .title {
        //     padding-left: max(calc(variables.$articleMargin), 20vw);
        // }

        .description {
            margin: variables.$articleMargin;
        }
    }

    .hero {
        margin-bottom: 0;

        .content > .title {
            margin-top: 30vh;
            min-width: inherit;
            padding-bottom: variables.$articleMargin;

            .images {
                display: none;
            }
        }
    }
}