@use '@root/variables';

.hero {
    position: relative;
    width: 100%;
    height: 400px;

    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: -9;
        object-position: right center;
    }

    .title {
        @include variables.dropShadowLarge;
        $falseOffset: 12px; // Counters gap in drop shadow by extending bounds to left.

        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: calc(variables.$articleMargin * 2);

        min-width: 500px;
        left: 0;
        top: 100px;
        background-color: variables.$themeGreen;
        border-radius: 0 variables.$borderRadius variables.$borderRadius 0;
        padding: variables.$articleMargin;
        margin-left: calc(-1 * $falseOffset);
        padding-left: calc(variables.$articleMargin + $falseOffset);
        padding-bottom: calc(variables.$articleMargin * 2);

        h1 {
            margin: 0;
        }

        .images {
            display: flex;
            justify-content: space-between;
            align-items: end;

            .bowtie {
                margin-bottom: variables.$articleMargin;
                width: 30%;
            }
            
            .eyes {
                width: 50%;
            }
        }
    }
}

section.description {
    margin: 0 variables.$articleMargin;
    margin-left: 500px;
    text-align: center;
}

.fullWidthImg {
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
    }

    .media {
        width: 100%;
    }

    .articleSection {
        margin: variables.$articleMargin 0;

        .description {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    
        & > * {
            flex: 1;
        }
    }
}

.storyHeadline {
    padding: variables.$standardGap;
    margin-top: variables.$standardGap;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .hero > .title {
        min-width: inherit;
        padding-bottom: variables.$articleMargin;
        top: inherit;
        bottom: 0;

        & > .images {
            display: none;
        }
    }

    section.description {
        margin-top: variables.$standardGap;
        margin-left: variables.$articleMargin;
    }
}

@media screen and (max-width: 1000px) {
    .fullWidthImg {
        flex-direction: column-reverse;
    }
}