@use '@root/variables';

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.login-bg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    object-fit: cover;
    background-image: url('loginBackground.png');
    background-position: center;
}

.login-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 500px;
    height: fit-content;
    background-color: variables.$tone1;
    border-radius: 8px;
    padding: 35px;
    text-align: center;

    .title {
        font-size: 40px;
        color: variables.$themeBlack;
    }

    #login {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 4%;
    }
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10px;
}

.error {
    color: variables.$themeRed;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    align-self: left;
    margin-top: 1px;
    padding: 0px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: variables.$tone3;
    margin: 30px 0;
}

.link {
    color: variables.$themeBlue;
    text-decoration: none;
}

.signup-prompt {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: variables.$themeBlack;

    a {
        color: variables.$themeBlue;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
    }

    a:hover {
        text-decoration: underline;
        transition: text-decoration 1s ease-in-out;
    }
}