@use '../../root/variables';
$projectIconSize: 1.2em;
$projectIconGap: 5px;

$projectCardGap: 30px;
$projectCardWidth: 250px;
$cardBorderRadius: 5%;


#main {
    padding: 30px;
}
.fa-square-binary {
    height: $projectIconSize;
    width: $projectIconSize;
    background-color: white;
    margin-right: $projectIconGap;
}
.fa-square-binary > path {
    color: variables.$themeBlue;
}
.fa-chevron-right {
    font-size: 12px;
}

.guide-icon-arrow {
    height: 12px;
    width: 12px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $projectIconGap;
}

.assembly-card > .card-info > .card-buttons {
    flex-direction: column;
}
.card-holder {
    display: flex;
    width: 100%;
    align-items: stretch;
    align-content: center;
    gap: $projectCardGap; 
    flex-wrap: wrap;
}
$hoverCardBorderSize: 3px;
$hoverCardBorderColor: variables.$themeBlue;

#create-project, .project-card {
    width: $projectCardWidth;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
    will-change: transform;
    position: relative;
    cursor: pointer;
}
$toolbarBorderRadius: 0.5em;
$toolbarBorderColor: variables.$primary;
$toolbarBorderStroke: 3px;
$toolbarWidth: 130px;



#toolbar[open] {
    z-index: 4;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 5px 20px 5px 5px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: $toolbarBorderRadius;
    margin: 0;
    width: $toolbarWidth;
}
#toolbar > .card-button > svg {
    margin-right: 5px;
}
#toolbar > .button:hover{
    cursor: pointer;
}
#project-delete > svg > path{
    color: variables.$themeRed;
}

.project-card:has(> #toolbar[open]) {
    border: $hoverCardBorderSize solid variables.$themeGreen;
    z-index: 1;
}
.project-card, .lesson-card {
    border: $hoverCardBorderSize solid transparent;

}

#create-project {
    width: $projectCardWidth;
    border-radius: $cardBorderRadius;
    background-color: variables.$themeBlue;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 226.75px;
    flex-direction: column;
    
}
#create-project:hover {
    cursor: pointer;
    
}
#create-project > * {
    color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
}
#create-project > p{
    margin-top: 10px;
    margin-bottom: 0;
}
#create-project > svg > path {
    color: white;
}





.lesson-card > .card-info > .card-descriptions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.card-button:hover {
    cursor: pointer;
}
//Credits too https://stackoverflow.com/questions/62867788/text-underline-animation-in-css-the-simplest-way

.assembly-card > .card-info > .card-buttons > .card-button:hover {
    --underline-width: 100%;
}
.card {
    background-color: white !important;
}

.hero-title-container {
    background-color: variables.$themeYellow;
}

#cancel-confirm-button {
    background-color: variables.$themeBlue;
}
#delete-confirm-button {
    background-color: variables.$themeRed;
}

$trashcanSize: 30px;
#delete-modal {
    .fa-trash-can {
        color: variables.$themeRed;
        font-size: $trashcanSize;
    }
}
$renameInputSize: 20px;
$renameInputWidth: 70%;
$renameInputRoundedCorners: 10px;
$renameInputPadding: 5px;
$renameContentPadding: 5%;
#rename-modal {
    .fa-pencil {
        color: variables.$themeBlue;
        font-size: $trashcanSize;
    }
    #rename-confirm-button {
        background-color: variables.$themeGreen;
    }
    .modal-content {
        justify-content: center;
        padding: calc($renameContentPadding*2) $renameContentPadding;
        align-items: center;
        p {
            text-align: center;
            margin-top: 0;
        }
        #new-project-name {
            width: $renameInputWidth;
            color: variables.$themeBlack;
            padding: $renameInputPadding;
            font-size: $renameInputSize;
            border-radius: $renameInputRoundedCorners;
            border: variables.$strokeSize variables.$themeBlue solid
        }
    }
    
} 

.card-wrapper {
    position:relative;
}
.project-card:hover {
    transform: translateY(-2px);
    border: $hoverCardBorderSize solid variables.$themeBlue;
}
.project-card:has(.toolbar-target) {
    border: $hoverCardBorderSize solid variables.$themeGreen;
    transform: translateY(-2px);
}