<footer class="footer">
    <div class="footerBg">
        <img class="eyes" src="@images/eyes.svg">

        <div class="bgContent">
            <hr />
    
            <div class="footerBottom">
                <p></p>
                <p></p>
                <p><a href="/privacy" class="privacyPolicy">Privacy Policy</a></p>
            </div>
        </div>
    </div>

    <div class="footerContent">
        <div class="footerLinks">
            <div class="footerColumn">
                <h2>Pages</h2>
                <ul>
                    <li><a href="/teacher">Teacher Resources</a></li>
                    <li><a href="/student">Robox Hub</a></li>
                    <!-- <li><a href="#">Building Guides</a></li>
                    <li><a href="#">Programming Lessons</a></li> -->
                </ul>
            </div>
            <div class="footerColumn" id="contactUs">
                <h2>Connect With Us</h2>
                <ul>
                    <li><a href="https://www.instagram.com/robox.kit" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://x.com/robox_kit" target="_blank"><i class="fab fa-x-twitter"></i> X/Twitter</a></li>
                    <li><a href="https://www.linkedin.com/company/roboxeducation" target="_blank"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                </ul>
            </div>
        </div>
    
        <hr />
    
        <div class="footerBottom">
            <p>&copy; 2025 Robox. All rights reserved.</p>
            <p>Contact us at <a href="mailto:hello@robox.com.au"><u>hello@robox.com.au</u></a></p>
            <p><a href="/privacy" class="privacyPolicy">Privacy Policy</a></p>
        </div>
    </div>
</footer>

<!-- Google Analytics Consent -->
<%~ include('gaConsent.html') %>