<header>
    <div class="header">
        <nav class="navLinks">
            <a href="/" class="logo">
                <img src="@images/logo-full.svg" alt="Robox Logo">
            </a>
            <div class="navItems">
                <a href="/about">About</a>
                <a href="#contactUs">Contact</a>
            </div>
        </nav>
    
        <div class="ctaButtons">
            <a href="/student" class="btn"><i class="fa-regular fa-compass"></i> Robox Hub</a>
            <a href="/teacher" class="btn"><i class="fa-solid fa-graduation-cap"></i> Teacher Resources</a>
            <a href="/shop" class="btn store">Store</a>

            <a href="/shop/cart" id="cart" style="display: none;">
                <div>
                    <p></p>
                </div>
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
    
            <button class="hamburger" aria-label="Toggle menu"></button>
        </div>
    </div>

    <div class="hamburgerMenu">
        <a href="/about">About</a>
        <a href="#contactUs">Contact</a>

        <a href="/student" class="btn"><i class="fa-regular fa-compass"></i> Robox Hub</a>
        <a href="/teacher" class="btn"><i class="fa-solid fa-graduation-cap"></i> Teacher Resources</a>

        <a href="/shop" class="btn store">Store</a>
    </div>
</header>