$navEdges: #717171;
$componentHeight: 48px;

//How big the seperators are in the category
$seperatorHeight: 40px;
//The colour of the middle seperator line
$seperatorColour: black;
//The size of the middle seperator line
$seperatorStrokeSize: 3px;
//How long the stroke line
$seperatorLength: 80%;

//How tall the icon is in the category
$iconHeight: 20px;

//How wide the arch/tab thing is in the category sidebar
$archWidth: 48px;

//How big the sidebar is
$toolboxWidth: 170px;

//How much the tabs extend
$extensionAmount: 20px;
//This is the height for the top and bottom divs
$barHeight: 75px;

$backgroundColour: #E6F0FF;

$roboxRed: #FF6166;
$roboxBlue: #2588C7;

$barPadding: 2.5%;
$topBarButtonGap: 10px;

$downloadButtonSize: 60px;

// Makes our label white.
.blocklyTreeLabel {
    color: white;
    font-size: large;
}
.blocklyToolboxDiv {
    border-right: $seperatorStrokeSize solid $navEdges;
}
.side-arch > svg > path{
    stroke: $navEdges!important;
    fill: rgba(0,0,0,0)
}
.categoryIcon { 
    height: $iconHeight;
    width: $iconHeight;
    color: white;
    position: absolute;
    left: calc(($archWidth/3) - ($iconHeight/2));
}

.categoryIcon::before { 
    font-size: $iconHeight;
}
.blocklyTreeSeparator {
    display: flex;
    border-top: $seperatorStrokeSize solid #F5F5F5;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: $seperatorHeight;
    border-bottom: 0;
    margin: 0;
}
.blocklyTreeSeparator > .seperator {
    height: $seperatorStrokeSize;
    background-color: $seperatorColour;
    width: $seperatorLength;
}
/* Adds padding around the group of categories and separators. */

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    border-top: $seperatorStrokeSize solid #F5F5F5;
}
.blocklyTreeLabel { 
    color: black;
}
.customIcon {
    color: white;
}
.blocklyToolboxDiv {
    background-color: white;
    border-right: $seperatorStrokeSize 3px $navEdges;
    padding: 0;
    width: $toolboxWidth;
}

.blocklyFlyout { 
    transform: translate(calc($toolboxWidth - $seperatorStrokeSize * 2), -$seperatorStrokeSize) !important;
    border: $seperatorStrokeSize solid $navEdges;
    width: 430px;
}
/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
    display: flex;
    position: relative;
    align-items: center;
}
.blocklyTreeRow {
    height: initial;
}
.side-arch {
    height: $componentHeight;
    width: $componentHeight;
}
.extender.extended {
    height: $componentHeight;
    border-right: 1px solid rgba(0, 0, 0, 0);
    margin-right: -1px;
    z-index: 0;
    border-left: 1px solid $navEdges;
    border-top: 1px solid $navEdges;
    border-bottom: 1px solid $navEdges;
    box-sizing: border-box;
    width: $extensionAmount;

}
.extender{
    height: $componentHeight;
    border-right: 1px solid rgba(0, 0, 0, 0);
    margin-right: -1px;
    z-index: 0;
    border-left: 1px solid $navEdges;
    border-top: 1px solid $navEdges;
    border-bottom: 1px solid $navEdges;
    box-sizing: border-box;
    width: 0;

}
.extended.categoryIcon { 
    left: calc(($archWidth/3) - ($iconHeight/2))+$extensionAmount;

}

.blocklyTreeRow { 
    margin-bottom: 0;
}
#blocklyDiv {
    flex: auto;

}
.injectionDiv {
    border-top: $seperatorStrokeSize solid $navEdges;
    border-bottom: $seperatorStrokeSize solid $navEdges;
    box-sizing: border-box;

}
.blocklyMainBackground {
    stroke: none;
}
html {
    height: 100%;
}
body {
    height: 100%;
    flex-direction: column;
    display: flex;
    background-color: $backgroundColour;
}
#workspaceTabs {
    background-color: $roboxRed;
}
#workspaceTabs, #actionBar {
    height: $barHeight;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2*$barPadding);
    padding: 0 $barPadding 0 $barPadding;
    flex-direction: row;
    align-content: center;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $topBarButtonGap;
}
#project-name-input {
    font-size: 20px;
    background-color: unset;
    border-radius: unset;
    width: 170px;
    padding: 10px;
    border: 0;
}
#download-button {
    background-color: unset;
    border: 0;
}
#project-name-form {
    background-color: white;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(calc(2px*2) calc(2px*2) rgb(47, 47, 47));
    border-radius: 7px;
}
#bluetooth, #learn {
    font-size: 20px;
}
#project-name {
    display: flex;
    justify-content: center;
    align-items: center;
}
#back-button {
    background-color: unset;
    border: 0;
    font-size: 20px;
    color: white;
}
.topButton {
    width: 30px;
    height: 30px;
    background-color: $roboxBlue;
    border-radius: 50%;
    border: none;
    filter: drop-shadow(2px 2px rgb(47, 47, 47));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#actionBar {
    background-color: white;
    border-top: $seperatorStrokeSize solid $navEdges;
    margin-top: -$seperatorStrokeSize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#actionBar > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#download-robox-button {
    color: white;
    height: 100%;
}
#download-robox {
    background-color: $roboxRed;
    padding: 15px calc($downloadButtonSize*2) 15px $downloadButtonSize;
    border-radius: 2em;
    
}
.categoryLabel > .blocklyFlyoutLabelText {
    font: 400 24px sans-serif !important;
}