@use '@root/variables';
@use '@root/title-hero';

.hero-title-container {
    background-color: variables.$themeBlue;
    padding-right: variables.$articleMargin;

    & > * {
        color: variables.$primary;
    }
}

.productContainer {
    display: flex;
    width: 100%;
    align-content: center;
    gap: variables.$standardGap; 
    flex-wrap: wrap;

    .productCard {
        min-width: 300px;
        background-color: white;
        transition: box-shadow 0.5s;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 10px #26363BAA;
        }

        .card-image {
            background-color: transparent;
        }

        .card-title {
            max-width: none;
        }

        .ctaButton {
            @include variables.bodyFont;
            $btnHeight: 50px;
            
            width: 100%;
            height: $btnHeight;
            padding: 0;
            margin: 0;
            margin-top: 8px;

            border-radius: calc($btnHeight / 2);
            color: variables.$primary;
            box-shadow: none;
        }
    }
}