@use '@root/variables';

.hero {
    position: relative;
    background-image: url("@images/landing/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 30% center;
    height: calc(100vh - variables.$headerHeight - 10px);
    min-height: 500px;

    .title {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);

        .logo {
            object-fit: contain;
            height: 50px;
        }
    
        h1 {
           font-size: 60px;
           margin-top: 16px;
           color: variables.$primary;
           margin-bottom: 0;
        }
    }

    .scroll-prompt {
        position: absolute;
        color: variables.$primary;
        background-color: rgba(variables.$themeBlack, 0.9);
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;

        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.section1 {
    .text {
        max-width: 700px;
    }

    @media screen and (min-width: 1000px) {
        .media {
            width: 30%;
        }
    }
}

.section2 {
    position: relative;

    .goober {
        position: absolute;
        max-width: 300px;
        max-height: 300px;
        left: 15%;
        top: max(-35%, -150px);
        z-index: -9;
    }
}

.boxToBotSection {
    background-color: #23344b;
    padding: variables.$standardGap variables.$articleMargin;
}

.boxToBot {
    position: relative;
    $imgWidth: 300px;
    $bottomSpace: calc($imgWidth / 2 - 95px);
    margin-bottom: variables.$articleMargin;

    h1, h2, p {
        color: variables.$primary;
    }

    .intro {
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .columns {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: calc(variables.$standardGap * 2);
        max-width: 800px;
        margin: auto;
    }
    
    .steps {
        .step {
            margin-top: 30vh;

            .stepText {
                display: flex;
                align-items: center;
    
                gap: variables.$standardGap;
            }

            .stepNumber {
                $size: 64px;

                min-width: $size;
                width: $size;
                height: $size;
                text-align: center;
                line-height: $size;
                font-size: 30px;

                border-radius: 50%;
                color: variables.$primary;
                margin: 0;
            }

            &:nth-child(1) {
                margin-top: 45vh;

                & > .stepText > .stepNumber {
                    background: variables.$themeBlue;
                }
            }

            &:nth-child(2) > .stepText > .stepNumber {
                background: variables.$themeRed;
            }

            &:nth-child(3) > .stepText > .stepNumber {
                background: variables.$themeGreen;
            }

            &:nth-child(4) {
                margin-bottom: $bottomSpace;

                & > .stepText > .stepNumber {
                    background: #e47b25;
                }
            }

            .title {
                margin: 0;
            }

            .description {
                margin-bottom: 0;
            }
        }
    }

    .boxToBotImgMobile {
        display: none;
        margin: auto;
        width: 70%;
        margin-top: variables.$standardGap;
    }

    .boxToBotImg {
        padding-top: calc(45vh - $bottomSpace);
        width: $imgWidth;
        object-fit: contain;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    
    @keyframes pop {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .scale-animate {
        animation: pop 0.2s ease-in-out;
    }
}

article.hubs {
    background-color: variables.$tone2;
}

.roboxHub {
    .ctaButton {
        margin-top: variables.$articleMargin;
    }

    .cards {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        gap: variables.$standardGap;
        flex-wrap: wrap;
        margin-top: variables.$articleMargin;
        z-index: 10;
    
        .roboxHubCard {
            position: relative;
            width: inherit;
            flex-basis: 350px;
            z-index: initial;

            .card-image {
                aspect-ratio: inherit;
                border-radius: variables.$borderRadius variables.$borderRadius 0 0;
            }
    
            .card-info {
                padding: variables.$standardGap;
            }

            .goober {
                z-index: -1;
                position: absolute;
                
                img {
                    object-fit: contain;
                }

                .shape {
                    max-width: 100%;
                    max-height: 100%;
                }

                .eyes {
                    position: absolute;
                }

                &.gooberPentagon {
                    width: 60%;
                    top: -20%;
                    left: -10%;

                    .eyes {
                        width: 55%;
                        top: 15%;
                        right: 23%;
                    }

                    @media screen and (max-width: 1000px) {
                        visibility: hidden;
                    }
                }

                &.gooberSpiky {
                    width: 80%;
                    bottom: -30%;
                    right: 0;

                    .eyes {
                        width: 40%;
                        bottom: 35%;
                        left: 20%;
                    }

                    @media screen and (max-width: 1350px) {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

.teacherHub {
    position: relative;

    .goober {
        position: absolute;
        width: 150px;
        height: 150px;
        bottom: calc(-1 * variables.$standardGap);
        right: calc(-1 * variables.$standardGap);
        
        img {
            object-fit: contain;
        }

        .shape {
            max-width: 100%;
            max-height: 100%;
        }

        .eyes {
            position: absolute;
            width: 103px;
            top: 20%;
            left: 20%;
        }

        @media screen and (max-width: 1000px) {
            visibility: visible;
        }
    }
}

.videoSection > iframe {
    width: 80%;
    aspect-ratio: 1.7777777778;
}

.shop {
    text-align: center;
    margin: 0;

    .cards {
        margin: variables.$standardGap 0;
        margin-top: calc(variables.$standardGap * 2);
        display: flex;
        justify-content: center;
        gap: calc(variables.$standardGap * 2);
        flex-wrap: wrap;

        .productCard {
            @include variables.dropShadowSmall;

            max-width: 350px;
            width: 100%;

            &#robox-10-pack {
                border: 8px solid variables.$themeGreen;
                position: relative;

                .valuePack {
                    position: absolute;
                    top: -1px;
                    right: -1px;
                    margin: 0;
                    padding: 8px 12px 8px 14px;
                    border-radius: 0 0 0 10px;
                    background-color: variables.$themeGreen;
                    color: variables.$primary;
                }
            }
        }

        .card-info {
            padding: variables.$standardGap;

            .card-buttons {
                margin-top: variables.$standardGap;

                flex-direction: column;
                align-items: center;
                justify-content: end;

                .productButton {
                    background-color: variables.$themeBlue;
                    font-size: 18px;
                    border-radius: 8px;
                    padding: 8px 16px;
                    margin: 0;
                }
            }
        }
    }
} 

@media screen and (max-width: 600px) {
    .boxToBot {
        .intro {
            position: inherit;
        }

        .boxToBotImg {
            display: none;
        }
    
        .boxToBotImgMobile {
            display: block;
        }

        .columns {
            padding: 0;
        }

        .steps > .step {
            $stepGap: calc(variables.$standardGap * 2);

            margin-top: $stepGap;

            &:nth-child(1) {
                margin-top: $stepGap;
            }

            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .goober {
        display: none;
    }
    
    .videoSection > iframe {
        width: 100%;
    }

    .hero {
        .title {
            width: 100%;
            top: inherit;
            right: 0;
            bottom: 0;
            padding: calc(variables.$standardGap * 2) variables.$standardGap;
            transform: none;
            background: linear-gradient(0deg, rgba(variables.$themeBlack, 0.7) 70%, rgba(variables.$themeBlack, 0) 100%);
        }

        .scroll-prompt {
            background-color: transparent;
        }
    }

    .articleSection.LTR.section1 {
        flex-direction: column-reverse;

        .media {
            width: 50%;
        }
    }

    .teacherHub {
        text-align: center;
    }
}