<footer class="footer">
    <div class="footerBg">
        <img class="eyes" src="@images/eyes.svg">

        <div class="bgContent">
            <hr />
    
            <div class="footerBottom">
                <p></p>
                <p></p>
                <p><a href="#" class="privacyPolicy">Privacy Policy</a></p>
            </div>
        </div>
    </div>

    <div class="footerContent">
        <div class="footerLinks">
            <!-- <div class="footerColumn">
                <h2>Robox</h2>
                <ul>
                    <li>Making education ultra-affordable</li>
                </ul>
            </div> -->
            <div class="footerColumn">
                <h2>Resources</h2>
                <ul>
                    <li><a href="#">Get Started</a></li>
                    <li><a href="#">Teacher Resources</a></li>
                    <li><a href="#">Robox Hub</a></li>
                    <li><a href="#">Building Guides</a></li>
                    <li><a href="#">Programming Lessons</a></li>
                </ul>
            </div>
            <div class="footerColumn">
                <h2>Connect With Us</h2>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-x-twitter"></i> X/Twitter</a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
                </ul>
            </div>
        </div>
    
        <hr />
    
        <div class="footerBottom">
            <p>&copy; 2025 Robox. All rights reserved.</p>
            <p>Contact us at <a href="mailto:hello@robox.com.au"><u>hello@robox.com.au</u></a></p>
            <p></p>
        </div>
    </div>
</footer>