<header>
    <div class="header">
        <link href="@root/header-workshop.scss" rel="stylesheet" />

        <nav class="navLinks">
            <a href="/" class="logo">
                <img src="@images/logo-workshop.svg" alt="Robox Logo">
            </a>
            <div class="navItems">
                <a href="/about">About</a>
                <a href="#contactUs">Contact</a>
            </div>
        </nav>

        <div class="ctaButtons">
            <a href="/student" class="btn"><i class="fa-regular fa-compass"></i> Robox Hub</a>
            <a href="/teacher" class="btn"><i class="fa-solid fa-graduation-cap"></i> Teacher Resources</a>
            <!-- <a href="#" class="iconBtn"><i class="fa-solid fa-gear fa-xl"></i></a>

            <a href="#" class="btn signup"><i class="fa-regular fa-circle-user"></i> Sign In</a> -->
            
            <button class="hamburger" aria-label="Toggle menu"></button>
        </div>
    </div>

    <div class="hamburgerMenu">
        <a href="/about">About</a>
        <a href="#contactUs">Contact</a>

        <a href="/student" class="btn"><i class="fa-regular fa-compass"></i> Robox Hub</a>
        <a href="/teacher" class="btn"><i class="fa-solid fa-graduation-cap"></i> Teacher Resources</a>
    </div>
</header>