<header class="header">
    <nav class="navLinks">
        <a href="/" class="logo">
            <img src="@images/logo-full.svg" alt="Robox Logo">
        </a>
        <div class="navItems">
            <a href="/about">About</a>
            <a href="#contactUs">Contact</a>
        </div>
    </nav>

    <div class="ctaButtons">
        <a href="/student" class="btn"><i class="fa-regular fa-compass"></i> Robox Hub</a>
        <a href="#" class="btn"><i class="fa-solid fa-graduation-cap"></i> Teacher Resources</a>
        <!-- <a href="#" class="btn store">Store</a> -->

        <button class="hamburger" aria-label="Toggle menu">
            <!-- <lottie-player aria-label="Open Menu" id="hamburgerIconLottie" src="/path/goes/here" autoplay="false" background="transparent" speed="1"></lottie-player> -->
        </button>
    </div>
</header>