<dialog class="modal" id="<%= it.id %>">
    <div class="modal-top-bar">
        <h1 class="modal-title">
        <%~ it.title ? it.title : ""%>
        </h1>
    </div>
    <% if (it.content) { %>
    <div class="modal-content">
        <% it.content.forEach(function(content){ %>
            <%~ content %>
        <% }) %>

    </div>
    <% } %>
    <div class="modal-bottom-bar">
        <% if (it.buttons) { %>
            <% it.buttons.forEach(function(button){ %>
                <% if (button.link) { %>
                    <a id="<%= button.id || '' %>" href="<%= button.link%>" class="modal-link <%= button.classes || "" %>">
                        <%~ button.content %>
                    </a>
                <% } else { %>
                    <button id="<%= button.id || '' %>" class="modal-button button  <%= button.classes || "" %>">
                        <%~ button.content %>
                    </button>
                <% } %>
            <% }) %>
        <% } %>
    </div>
    
</dialog>